.about-chess-title {
    font-size: 60px;
    font-weight: 1000;
    text-align: center;
    transform: translate(0px, 100px);
}

.modes {
    display: flex;
    margin: auto;
    width: 500px;
    transform: translate(0px, 150px);
}

.puzzle0 {
    display: flex;
    margin: auto;
    width: 500px;
    transform: translate(0px, 200px);
}

.game0 {
    display: flex;
    margin: auto;
    width: 500px;
    transform: translate(0px, 250px);
}

.about-chess-description {
    display: flex;
    max-inline-size: 700px;
    border-style: double;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    transform: translate(0px, 300px);
}

.about-chess-footer {
    position: absolute;
    padding: 150px;
    height: 200px;
    bottom: -170%;  
    background: rgb(208, 230, 238);
    background-clip: padding-box;
    width:1433px;
}

.about-chess-home-btn {
    margin: 0;
    position: absolute;
    bottom: -140%;
    left: 50%;  
    -ms-transform: translate(-50%, -100%);
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 10px;
    border: 2px black;
    border-radius: 5px;
}


