.about-piano-title {
    font-size: 60px;
    font-weight: 1000;
    text-align: center;
    transform: translate(0px, 100px);
}

.piano-image {
    display: flex;
    margin: auto;
    width: 500px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(75, 182, 228);
    transform: translate(0px, 150px);
}

.about-piano-description {
    display: flex;
    max-inline-size: 700px;
    border-radius: 10px;
    background: white;
    box-shadow: 10px 10px 10px rgb(231,231,231); 
    margin: auto;
    padding: 20px;
    transform: translate(0px, 200px);
}
