.h-card-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 800px;
  transform: translate(0px, 100px);
}

.h-card-1 {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border-style: double;
  padding: 10px;
  margin: auto;
  width: 200px;
  height: 200px;
}

.h-card-2 {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border-style: double;
  padding: 10px;
  margin: auto;
  width: 200px;
  height: 200px;
}

.h-card-3 {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border-style: double;
  padding: 10px;
  margin: auto;
  width: 200px;
  height: 200px;
}