.achievements {
  display: flex;
  margin: auto;
  border-style: double;
  border-radius: 5px;
  padding: 10px;
  
  max-inline-size: 500px;
  transform: translate(0px, 200px);
}

.achievements-home-btn {
   display: flex;
   margin: auto;
   transform: translate(0px, 350px);
   padding: 10px;
}