.courses {
  display: flex;
  margin: auto;
  border-radius: 5px;
  border-style: double;
  padding: 10px;
  max-inline-size: 500px;
  transform: translate(0px, 200px);
}

.education-home-btn {
    display: flex;
    margin: auto;
    transform: translate(0px, 300px);
    padding: 10px;
}