.selfie {
    display: flex;
    width: 500px;
    margin: auto;
}

.biography {
    transform: translate(0px, 300px);
    max-inline-size: 900px;
    writing-mode: horizontal-tb;
    margin: auto;

    display: flex;
    min-width: 500px;
    border-style: double;
    border-radius: 5px;
    font-size: 20px;
}

.reference-box {
    height: 200px;
    background: black;
    position: relative;
    top: 1500px;
}

.site-link1 {
    color: white;
    position: relative;
    top: 55%;
    left: 48%;
    border-radius: 5px;
}

.site-link2 {
    color: white;
    position: relative;
    top: 55%;
    left: 38%;
    border-radius: 5px;
}