.nav_bar {
  /* Position */ 
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;

  /* Appearance */
  background: rgb(226, 244, 244);
}

.nav_link {
  /* Position */ 
  padding: 0.2rem 1.2rem;
  align-items: center;
  display: flex;

  /* Appearance */
  text-decoration: none;
  font-weight: 500;
  color: black; 
  font-size: 17px;  
}

.nav_link:hover {
  /* Appearance */
  color:rgb(75, 182, 228);
}

.page_container {
  /* Position */
  position: relative;
  min-height: 100vh;
}

.footer {
  /* Position */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2 rem;
  justify-content: flex-end;
  display: flex;
    
  /* Appearance */
  background: black;
}

.linkedin_icon {
  /* Position */
  margin: 15px 10px 0px 10px;

  /* Appearance */
  width: 50px;
}

.github_icon {
  /* Position */
  margin: 15px 10px 0px 10px;

  /* Appearance */
  width: 50px;
}